.person-section .person-list {
    flex-wrap: wrap;
    margin: 5rem 0;
    gap: 5rem;
}

.person-list li{
    display: flex;
    justify-content: center;
}

.card-person{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: auto;
    gap: 1.5rem;
    padding: 2rem 1rem;
    border: 1px solid #fff;
    border-radius: 1rem;
}

.card-person .name-person{
    text-transform: uppercase;
}

.card-person .info-person{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.card-person .link-person{
    margin-top: 1rem;
    border-radius: .5rem;
    padding: 0.5rem 1rem;
    background-color: transparent;
    cursor: pointer;
    border: 1.5px solid #fff;
    color: #fff;
    text-transform: uppercase;
    transition: all 0.3s;
}

.card-person .link-person:hover{
    background-color: rgba(255, 232, 31, 0.25);
}

@media(max-width: 450px){
    .person-section .select-article {
        flex-direction: column ;
        gap: 2rem;
        padding: 0 1rem;
    }
}

@media(max-width: 400px){
    .card-person{
        width: 300px;
    }
}

@media (max-width: 350px){
    .select-article {
        padding: 0 1rem;
    }

}

@media(max-width: 300px){
    .card-person{
        width: 200px;
    }
}

@media(max-width: 200px){
    .card-person{
        width: 150px;
    }
}